.watch-logo {
  padding: 5px;
}

.common-view-mode {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 2px;
  padding-bottom: 15px;
  margin: 2px 7px 2px 7px;
}

.main {
  margin: 2%;
}

.card-header-h3 {
  margin: 15px 0px;
}
.key-value-span {
  margin: 0px 0px 5px 5px;
}
.key-span {
  color: rgb(213, 213, 213);
}
