.watch-logo {
  padding: 5px;
}

.common-view-mode {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 2px;
  padding-bottom: 15px;
  margin: 2px 7px 2px 7px;
}

.main {
  margin: 2%;
}

.card-header-h3 {
  margin: 15px 0px;
}
.card-content-div {
  margin-top: 5px;
}
.key-value-span {
  margin: 10px 10px 10px 10px;
}
.key-span {
  color: rgb(218, 218, 218);
}
