.watch-logo {
  padding: 5px;
}

.largeViewMode {
  background-color: #222377;
}

.smallViewMode {
  background-color: #820d0d;
}

.listViewMode {
  background-color: #335521;
}

.main {
  margin: 2%;
}
