.wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.info-view {
  position: relative;
  color: rgb(255, 255, 255);
}

.info-view .edit-icon {
  color: rgb(145, 145, 145);
  position: absolute;
  right: 0;
  cursor: pointer;
}

.info-view .title-bar {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.title-value {
  margin-left: 1rem;
}

.info-view-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  gap: 0.4rem;
}

.key {
  color: rgb(119, 119, 119);
  justify-self: end;
  margin-right: 1rem;
  align-content: center;
}
.value {
  text-align: left;
  justify-self: start;
  align-content: center;
  max-width: 14rem;
}

.value a {
  color: white;
}
