.editable-text-multi-links-add-symbol-div {
  height: 18px;
  display: flex;
  justify-content: center;
  color: grey;
  overflow: hidden;
  animation: expand 0.3s ease;
}
.editable-text-multi-links-add-symbol-div-hidden {
  height: 0;
  display: none;
}

.multi-links-base-grid-div {
  color: #cfcfcf;
  padding: 8px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}

.multi-links-container {
  max-width: 100%;
  display: flex;
}
.multi-links-content {
  max-width: 100%;
}
.multi-links-content-url-textfield {
  display: inline-block;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes expand {
  from {
    height: 0;
  }
  to {
    height: 15px;
  }
}
