.search-bar {
  margin: 2%;
  margin-bottom: 0%;
}

.advanced-div {
  width: 60%;
  margin: auto;
  align-content: center;
  background-color: blueviolet;
  z-index: -1;
}

.icon-button {
  background-color: transparent;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(103, 156, 203, 0.4);
  }
}

.icon-container {
  height: 30px;
  width: 30px;
}
