.sports-calendar .cell {
  height: 5rem;
}

.sports-calendar .cell {
  position: relative;
  font-weight: bold;
  text-align: right;
  height: 6rem;
  width: 100%;
  background-color: rgb(42, 46, 42);
  border: 1px solid rgb(99, 99, 99);
}

.sports-calendar .cell .date-text {
  position: absolute;
  top: 0;
  right: 0;
}

.sports-calendar .cell .event-bars {
  font-weight: normal;
  font-size: 0.7rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.sports-calendar .cell .event-bars .container{
  width: 100%;
  padding: 1% 2%;
}

.sports-calendar .cell .event-bar {
  cursor: pointer;
  height: 1rem;
}

.sports-calendar .cell .container.startpiece {
  padding-right: 0%;
}

.sports-calendar .cell .container.middlepiece {
  padding-left: 0%;
  padding-right: 0%;
}

.sports-calendar .cell .container.endpiece {
  padding-left: 0%;
}

.sports-calendar .cell.greyed {
  font-weight: normal;
  background-color: rgb(53, 57, 58);
}

.sports-calendar .cell.today {
  border: 1px solid white;
}
